---
networks:
  seaweedfs:
    driver: overlay

services:
  seaweedfs-config:
    image: chrislusf/seaweedfs:3.81
    networks:
      - seaweedfs
    command:
      - "shell"
      - "fs.configure -locationPrefix=/buckets/artefacts/ -ttl=2w -volumeGrowthCount=1 -replication=000 -apply;"
      - "fs.configure -locationPrefix=/buckets/assets/ -ttl=6M -volumeGrowthCount=1 -replication=000 -apply;"
      - "fs.configure -locationPrefix=/buckets/outputs/ -ttl=4w -volumeGrowthCount=1 -replication=000 -apply;"
      - "s3.configure -user=anonymous -actions=Read:artefacts,Read:outputs,Read:assets -apply;"
      - "s3.configure -access_key=${S3_ACCESS_KEY} -secret_key=${S3_SECRET_KEY} -user=piper -actions=Read,Write:artefacts,Read,Write:outputs,Read,Write:assets -apply;"
    environment:
      - S3_ACCESS_KEY=${S3_ACCESS_KEY:-default_access_key}
      - S3_SECRET_KEY=${S3_SECRET_KEY:-default_secret_key}
      - SHELL_MASTER=seaweedfs-master:9333
    deploy:
      mode: replicated-job
      placement:
        constraints:
          - "node.role==manager"

