S3_ENDPOINT_URL=http://seaweedfs-filer:8333
S3_ACCESS_KEY_ID=<auto generate>
S3_SECRET_ACCESS_KEY=<auto generate>
S3_BASE_URL=?

JWT_SECRET=<auto generate>
REDIS_SECRET_KEY=<auto generate>
BASE_URL=?

ADMIN_EMAIL=?
ADMIN_PASSWORD=<auto generate>
