NODE_ENV=production
SERVER_PORT=80
WORKER_PORT=80
MONGO_URL=mongodb://mongo:27017
REDIS_URL=redis://redis:6379/

STORAGE_BASE_URL=https://xyz.com/storage

PAAS_BASE_URL=https://api.generativecore.ai/api/v3
PAAS_AUTH=xyzXYZ|xyzXYZ

AI_AUTH=xyzXYZ|xyzXYZ
